/* You can add global styles to this file, and also import other style files */
/* Variables */

/* Colors */
$active-color: cornflowerblue;
$border: #dddddd;

/* Fonts */
$font-family: arial, sans-serif
