<table *ngIf="!hasError && !isLoading; else showErrorLoading">
  <thead>
    <tr>
      <th *ngFor="let type of elementTypes">{{ type.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rows; let i = index">
      <td
        *ngFor="let type of elementTypes"
        (click)="onClicked(elementTypeMap[type.uri][i])"
        [ngClass]="{ active: elementTypeMap[type.uri][i] === selectedElement, disabled: !elementTypeMap[type.uri][i] }"
      >
        {{ elementTypeMap[type.uri][i] ? elementTypeMap[type.uri][i].name : '' }}
      </td>
    </tr>
  </tbody>
</table>
<ng-template #showErrorLoading>
  <div *ngIf="hasError; else loader">Something Went Wrong</div>

  <ng-template #loader> Loading </ng-template>
</ng-template>
