@import 'src/styles.scss';

table {
  font-family: font-family;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $border;
  text-align: left;
  padding: 8px;
}

.active {
  background-color: $active-color;
}
td {
  cursor: pointer;
  &.disabled {
      cursor: not-allowed;
  }
}
